<header>
  <a
    href="{{ '/' | relative_url }}"
    class="logo_row"
    data-tooltip="Home"
    data-placement="bottom"
    data-delay="400"
  >
    <span class="logo">
      {%- include logo.svg -%}
      <!-- <img src="{{ "images/logo.png" | relative_url }}" /> -->
    </span>
    <span class="logo_text">{{ site.title }}</span>
  </a>
  <nav class="nav_row">

    {%- comment -%}
    Add or remove header nav links here.
    
    Be wary of different screen sizes. Test by resizing your browser window
    from full-width to very narrow. Adjust the $tablet and $phone cutoff points
    in /css/variables.scss until the header elements wrap at the right time.
    {%- endcomment -%}
    <a
      href="{{ '/' | relative_url }}"
      class="nav_link"
      data-tooltip="Home page"
      data-placement="bottom"
      data-delay="400"
    >Home</a
    >
<div class="dropdown">
  <span class="nav_link">Publications ▼</span>

  <div class="dropdown-content">
    <a href="{{ 'publications/journals' | relative_url }}">Journal Publications</a>
    <a href="{{ 'publications/books' | relative_url }}">Book Chapters</a>
  </div>
</div>
<div class="dropdown">
  <span class="nav_link">Research ▼</span>

  <div class="dropdown-content">
    <a href="{{ 'research/major' | relative_url }}">Major Research</a>
    <a href="{{ 'research/ongoing' | relative_url }}">Ongoing Projects</a>
  </div>
</div>
<div class="dropdown">
  <span class="nav_link">Team ▼</span>

  <div class="dropdown-content">
    <a href="{{ 'team/members' | relative_url }}">Lab Members</a>
    <a href="{{ 'team/alumni' | relative_url }}">Lab Alumni</a>
  </div>
</div>

<a
  href="{{ 'awards' | relative_url }}"
  class="nav_link"
  data-tooltip="Honors and recognitions"
  data-placement="bottom"
  data-delay="400"
>
  Awards
</a>

<div class="dropdown">
  <span class="nav_link">Miscellaneous ▼</span>

  <div class="dropdown-content">
    <a href="{{ 'misc/media' | relative_url }}">Media Coverage</a>
    <a href="{{ 'misc/funding' | relative_url }}">Funding Support</a>
    <a href="{{ 'misc/facilities' | relative_url }}">Facilities</a>
    <a href="{{ 'misc/gallery' | relative_url }}">Gallery</a>
  </div>
</div>
    <a
      href="{{ 'contact' | relative_url }}"
      class="nav_link"
      data-tooltip="Email, address, and location"
      data-placement="bottom"
      data-delay="400"
      >Contact</a
    >
  </nav>
</header>
